.wrapper {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  button {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
  }
}
